{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe — WorkTogether{% endblock %}

{% block body %}
<div class="container profile">
    <h1>Changer le mot de passe</h1>

    {{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <div>
            <button class="btn">Changer</button>
            <a class="btn-outline" href="{{ path('profile_index') }}">Annuler</a>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
